In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
type(1)

int

In [4]:
type(1.0)

float

In [5]:
1+1

2

In [6]:
1*3

3

In [7]:
1/2

0.5

In [8]:
2**4

16

In [9]:
4%2

0

In [10]:
4%2

0

In [11]:
5%2

1

In [13]:
(2 + 3) * (5 + 5)

50

In [14]:
name_of_var = 2

In [15]:
2+2

4

In [16]:
x = 1
y = 2

In [17]:
x + y

3

In [18]:
"i don't like that"

"i don't like that"

In [19]:
'i DOn't like that'

SyntaxError: invalid syntax (<ipython-input-19-03dbe8b4cf01>, line 1)

In [20]:
"shit"

'shit'

In [21]:
print("hello")

hello

In [22]:
"hello"

'hello'

In [28]:
print("First: {y} Second {x}".format(x="xxx", y="yyy"))

First: yyy Second xxx

In [29]:
[1,2,3]

[1, 2, 3]

In [30]:
['a','b','c']

['a', 'b', 'c']

In [31]:
[1,'a']

[1, 'a']

In [32]:
mylist = ['a','b','c']

In [34]:
mylist[-1]

'c'

In [35]:
mylist[0] = 'NEW'

In [36]:
mylist

['NEW', 'b', 'c']

In [37]:
mylist.append('d')

In [38]:
mylist

['NEW', 'b', 'c', 'd']

In [39]:
mylist = [1,2,[100,200]]

In [40]:
mylist

[1, 2, [100, 200]]

In [41]:
mylist[2]

[100, 200]

In [42]:
mylist[2][1]

200

In [43]:
d = {'key1':'value1','key2':'value2'}

In [144]:
d['key2']

KeyError: 'key2'

In [46]:
print(d)

{'key1': 'value1', 'key2': 'value2'}

In [47]:
True

True

In [48]:
False

False

In [49]:
t = (1,2,3)

In [51]:
{1,2,3}

{1, 2, 3}

In [52]:
teste_tuple = (1,1,1,1,3,3,3,3,4,4,4,4,5,5,5)

In [53]:
teste_tuple

(1, 1, 1, 1, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5)

In [54]:
{teste_tuple}

{(1, 1, 1, 1, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5)}

In [55]:
{1,1,1,1,2,2,2,2}

{1, 2}

In [56]:
{8,8,8,8,9,9,9}

{8, 9}

In [57]:
1 > 2

False

In [58]:
1 < 2

True

In [59]:
1 >= 4

False

In [60]:
1 <4 3

SyntaxError: invalid syntax (<ipython-input-60-ccaf0563b401>, line 1)

In [61]:
1 == 1

True

In [62]:
'a' == 'a'

True

In [63]:
'A' == 'a'

False

In [64]:
1 != 2

True

In [73]:
(1 == 1) and ('a' =='a') and (3 == 3)

True

In [75]:
if 1==2:
    print('yea!')

In [78]:
if 1==2:
    print('worked!')
elif 3==3:
    print('second cond true!')
else:
    print('nope!')

second cond true!

In [79]:
seq = [1,2,3,4,5]

In [83]:
for item in seq:
    print(item+item)

2
4
6
8
10

In [85]:
i = 1
while i <= 5:
    print('i is {}'.format(i))
    i = i+1

i is 1
i is 2
i is 3
i is 4
i is 5

In [86]:
x = [1,2,3,4]

In [89]:
list(range(2,5))

[2, 3, 4]

In [90]:
for x in range(5):
    print('hi')

hi
hi
hi
hi
hi

In [91]:
x = [1,2,3,4,5]

In [92]:
out = []
for num in x:
    out.append(num**2)

print(out)

[1, 4, 9, 16, 25]

In [93]:
[num**2 for num in x]

[1, 4, 9, 16, 25]

In [154]:
def my_func(name):
    '''
    THIS PRINTS OUT THE USER NAME!
    '''
    print('hello ' + name)

In [155]:
my_func('Lucas')

hello Lucas

In [108]:
result = square(2)

In [109]:
result

4

In [110]:
type(result)

int

In [114]:
lambda var: var*2

In [112]:
times_two(10)

20

In [113]:
lambda var: var*2

In [115]:
st = 'hello my name is Sam'

In [116]:
st.lower()

'hello my name is sam'

In [117]:
st.upper()

'HELLO MY NAME IS SAM'

In [118]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [119]:
tweet = 'Hello #sports'

In [122]:
tweet.split('#')[-1]

'sports'

In [124]:
d = {'k1':'v1', 'k2':'v2'}

In [125]:
d.keys()

dict_keys(['k1', 'k2'])

In [128]:
d.items()

dict_items([('k1', 'v1'), ('k2', 'v2')])

In [129]:
mylist = [1,2,3]

In [130]:
last = mylist.pop()

In [131]:
mylist

[1, 2]

In [132]:
last

3

In [133]:
mylist = [1,2,3]

In [134]:
mylist

[1, 2, 3]

In [135]:
first = mylist.pop(0)

In [137]:
mylist

[2, 3]

In [138]:
first

1

In [141]:
1 in mylist

False

In [140]:
2 in mylist

True

In [142]:
7**4

2401

In [143]:
x = 1
print(x)

1