In [1]:
spark

In [2]:
dir(spark)

['Builder',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_activeSession',
 '_conf',
 '_convert_from_pandas',
 '_createFromLocal',
 '_createFromRDD',
 '_create_from_pandas_with_arrow',
 '_create_shell_session',
 '_get_numpy_record_dtype',
 '_inferSchema',
 '_inferSchemaFromList',
 '_instantiatedSession',
 '_jsc',
 '_jsparkSession',
 '_jvm',
 '_jwrapped',
 '_repr_html_',
 '_sc',
 '_wrapped',
 'builder',
 'catalog',
 'conf',
 'createDataFrame',
 'getActiveSession',
 'newSession',
 'range',
 'read',
 'readStream',
 'sparkContext',
 'sql',
 'stop',
 'streams',
 'table',
 'udf',
 'version']

In [1]:
data=[("Newton", 1643), ("Enstein", 1879), ("Gauss", 1777)]
df=spark.createDataFrame(data, ["name", "birth"])
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- birth: long (nullable = true)

In [2]:
df.show()

+-------+-----+
|   name|birth|
+-------+-----+
| Newton| 1643|
|Enstein| 1879|
|  Gauss| 1777|
+-------+-----+

In [5]:
df = spark.createDataFrame([ (1, 1), (1, 3), (2, 1), (3, 2), (3, 4) ], ["user_id", "genre_id"])
df.printSchema()

root
 |-- user_id: long (nullable = true)
 |-- genre_id: long (nullable = true)

In [6]:
df.show()

+-------+--------+
|user_id|genre_id|
+-------+--------+
|      1|       1|
|      1|       3|
|      2|       1|
|      3|       2|
|      3|       4|
+-------+--------+

In [6]:
df=spark.read.format("com.databricks.spark.csv") \
    .option("header", "true") \
    .option("delimiter", ";") \
    .option("inferSchema", "true") \
    .load("viagens.csv")

In [8]:
df.printSchema()

root
 |-- Identificador do processod de viagem: integer (nullable = true)
 |-- Situação: string (nullable = true)
 |-- Órgão Superior: string (nullable = true)
 |-- Órgão / Entidade Vinculada: string (nullable = true)
 |-- Tipo Viagem: string (nullable = true)
 |-- CPF: string (nullable = true)
 |-- Nome: string (nullable = true)
 |-- De: string (nullable = true)
 |-- Até: string (nullable = true)
 |-- Destinos: string (nullable = true)
 |-- Valor Total: string (nullable = true)
 |-- _c11: string (nullable = true)

In [10]:
df.count()

31

In [14]:
df.show(1, truncate=False)

+------------------------------------+-------------+----------------------+----------------------------------------------------------------------+-----------+--------------+------------------------------------------+----------+----------+--------+-----------+----+
|Identificador do processod de viagem|Situação     |Órgão Superior        |Órgão / Entidade Vinculada                                            |Tipo Viagem|CPF           |Nome                                      |De        |Até       |Destinos|Valor Total|_c11|
+------------------------------------+-------------+----------------------+----------------------------------------------------------------------+-----------+--------------+------------------------------------------+----------+----------+--------+-----------+----+
|16657965                            |Não realizada|Ministério da Educação|Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira|Nacional   |***.753.118-**|FABIANE REGINA CARVALHO DE ANDRADE IBRAHIN|01/12/2019|04/12/2019|Ipu/CE  |R$ 1.780,62|null|
+------------------------------------+-------------+----------------------+----------------------------------------------------------------------+-----------+--------------+------------------------------------------+----------+----------+--------+-----------+----+
only showing top 1 row

In [19]:
df.select("Órgão Superior" ,  "Valor Total").show(truncate = False)

+-----------------------------------------------------------+-----------+
|Órgão Superior                                             |Valor Total|
+-----------------------------------------------------------+-----------+
|Ministério da Educação                                     |R$ 1.780,62|
|Sem informação                                             |R$ 655,08  |
|Ministério das Relações Exteriores                         |R$ 3.373,00|
|Sem informação                                             |R$ 1.032,42|
|Ministério da Educação                                     |R$ 1.416,93|
|Ministério da Educação                                     |R$ 2.120,74|
|Ministério da Defesa                                       |R$ 1.028,37|
|Controladoria-Geral da União                               |R$ 0,00    |
|Ministério da Justiça e Segurança Pública                  |R$ 1.900,88|
|Ministério da Educação                                     |R$ 543,36  |
|Controladoria-Geral da União                               |R$ 529,88  |
|Ministério da Educação                                     |R$ 774,56  |
|Ministério da Educação                                     |R$ 324,70  |
|Ministério da Educação                                     |R$ 2.938,42|
|Ministério da Defesa                                       |R$ 183,24  |
|Sem informação                                             |R$ 0,00    |
|Ministério da Ciência, Tecnologia, Inovações e Comunicações|R$ 247,06  |
|Ministério da Ciência, Tecnologia, Inovações e Comunicações|R$ 274,06  |
|Ministério da Ciência, Tecnologia, Inovações e Comunicações|R$ 390,06  |
|Ministério da Ciência, Tecnologia, Inovações e Comunicações|R$ 249,06  |
+-----------------------------------------------------------+-----------+
only showing top 20 rows

In [22]:
df.filter(df["Órgão Superior"]=="Orgão / Entidade Vinculada").count()

0

In [26]:
df.groupBy("Órgão Superior").count().orderBy("count", ascending=False).show(truncate=False)

+-----------------------------------------------------------+-----+
|Órgão Superior                                             |count|
+-----------------------------------------------------------+-----+
|Ministério da Educação                                     |8    |
|Sem informação                                             |7    |
|Ministério da Ciência, Tecnologia, Inovações e Comunicações|6    |
|Ministério das Relações Exteriores                         |4    |
|Ministério da Defesa                                       |2    |
|Ministério da Justiça e Segurança Pública                  |2    |
|Controladoria-Geral da União                               |2    |
+-----------------------------------------------------------+-----+

In [32]:
df.describe("Valor Total").show()

+-------+-----------+
|summary|Valor Total|
+-------+-----------+
|  count|         31|
|   mean|       null|
| stddev|       null|
|    min|    R$ 0,00|
|    max|  R$ 870,42|
+-------+-----------+

In [33]:
df.groupBy("Órgão Superior").agg(F.max("Valor Total"),)

AnalysisException: "Valor Total" is not a numeric or calendar interval column. Aggregation function can only be applied on a numeric or calendar interval column.;